<!-- côté parents -->
<div class="container" data-controller="graph-modal">
  <div class="headers__container">
    <h1>Famille <%= @family.name %></h1>
    <span data-action="click->graph-modal#open">
      <i class="fa-solid fa-chart-line headers__icon" data-action="click->graph-modal#open"></i>
    </div>
    <!--l'overlay-->
    <div data-graph-modal-target="overlay" class="overlay modal__overlay" data-action="click->graph-modal#close"></div>
    <!--la modale et le content-->
    <div id="graph-modal" class="modal hidden" data-graph-modal-target="modal">
      <div class="modal__content" data-graph-modal-target="content">
        <button data-action="click->graph-modal#close" class="modal__close">&times;</button>
        <%= render partial: "families/tasks_graphs", locals: { children: @children, task_counts: @task_counts } %>
      </div>
    </div>
    <div class="child-card__wrapper">
      <% @children.each do |child| %>
        <div class="child-card" data-controller="child-card">
          <header class="child-card__header" data-action="click->child-card#toggle">
            <div class="child-card__header__identity">
              <div class="child-card__header__avatar">
                <%= cl_image_tag child.avatar.key, height: 50, width: 50, crop: :auto, gravity: :auto, alt: "Photo #{child.first_name}" %>
              </div>
              <h1 class="child-card__header__name"><%= child.first_name %></h1>
            </div>
            <div class="child-card__header__points-container">
              <div class="child-card__header__points child-card__header__points--day" id="child-<%= child.id %>-day_points">
                <span class="child-card__header__points-value"><%= child.day_points %></span>
              </div>
              <div class="child-card__header__points child-card__header__points--week" id="child-<%= child.id %>-week_points">
                <span class="child-card__header__points-value"><%= child.week_points %></span>
              </div>
              <div class="child-card__header__points child-card__header__points--month" id="child-<%= child.id %>-month_points">
                <span class="child-card__header__points-value"><%= child.month_points %></span>
              </div>
              <div data-controller="mobile-menu" data-mobile-menu-child-id-value="<%= child.id %>"">
                <span data-action="click->mobile-menu#show"><i class="fa-solid fa-ellipsis-vertical child-card__header__menu"></i></span>
                <%= render partial: "shared/mobile-child-menu", locals: { child: child } %>
              </div>
            </div>
          </header>
          <section class="child-card__body" data-child-card-target="body" style="display: <%= @children.first == child ? "block" : "none" %>;">
            <% child.tasks.today.each do |task| %>
              <%= render task %>
            <% end %>
          </section>
        </div>
      <% end %>
    </div>
