<div class="container" data-controller="graph-modal">
  <div class="headers__container">
    <h1>Famille <%= @family.name %></h1>
    <i class="fa-solid fa-chart-line headers__icon" data-action="click->graph-modal#open"></i>
  </div>

  <div id="graph-modal" class="modal hidden" data-graph-modal-target="modal">
    <div class="modal__content">
      <button class="modal__close" data-action="click->graph-modal#close">&times;</button>
      <h2>Enfants</h2>
      <ul>
      <% @children.each do |child| %>
        <li><%= child.first_name %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="child-card__wrapper">
  <% @children.each do |child| %>
    <div class="child-card">
      <header class="child-card__header">
        <div class="child-card__header__identity">
          <div class="child-card__header__avatar">
            <%= cl_image_tag child.avatar.key, height: 50, width: 50, crop: :auto, gravity: :auto, alt: "Photo #{child.first_name}" %>
          </div>
          <h1 class="child-card__header__name"><%= child.first_name %></h1>
        </div>
        <div class="child-card__header__points-container">
          <div class="child-card__header__points child-card__header__points--day" id="child-<%= child.id %>-day_points">
            <span class="child-card__header__points-value"><%= child.day_points %></span>
          </div>
          <div class="child-card__header__points child-card__header__points--week" id="child-<%= child.id %>-week_points">
            <span class="child-card__header__points-value"><%= child.week_points %></span>
          </div>
          <div class="child-card__header__points child-card__header__points--month" id="child-<%= child.id %>-month_points">
            <span class="child-card__header__points-value"><%= child.month_points %></span>
          </div>
          <div data-controller="mobile-menu" data-mobile-menu-child-id-value="<%= child.id %>"">
            <span data-action="click->mobile-menu#show"><i class="fa-solid fa-ellipsis-vertical child-card__header__menu"></i></span>
            <%= render partial: "shared/mobile-child-menu", locals: { child: child } %>
          </div>
        </div>
      </header>
      <section class="child-card__body">
        <% child.tasks.today.each do |task| %>
          <%= render task %>
        <% end %>
      </section>
    </div>
  <% end %>
</div>
