<div class="child-card__body__award <%= task.validated? ? "child-card__body__award--disabled" : "" %>"
     data-controller="task-done"
     data-task-done-id-value="<%= task.id %>"
     data-task-done-user-role-value="parent"
     id="<%= dom_id(task) %>">
  <div class="child-card__body__award__title">
    <p class="child-card__body__award__title--name"><%= task.name %> (<%= task.value %> points)</p>
    <p class="child-card__body__award__title--description"><%= task.description %></p>
  </div>
  <div class="task-switch">
    <% if current_user.child? %>
      <!-- Checkbox désactivée pour les enfants -->
      <input type="checkbox" disabled <%= 'checked' if task.validated %>
             class="task-switch__toggle">
    <% else %>
      <!-- Checkbox interactive pour les parents -->
      <input type="checkbox" <%= 'checked' if task.validated %>
             class="task-switch__toggle"
             data-action="change->task-done#updateTask">
    <% end %>
  </div>
</div>
