<div class="container">
  <div class="headers__container">
    <h1>Famille <%= @family.name %></h1>
  </div>
  <div class="container child-card__wrapper">
    <% @family.children.each do |child| %>
      <div class="child-card">
        <header class="child-card__header">
          <div class="child-card__header__identity">
            <div class="child-card__header__avatar">
              <%= image_tag("super.png", alt: "Photo #{child.first_name}") %>
            </div>
            <h1 class="child-card__header__name"><%= child.first_name %></h1>
          </div>
          <div class="child-card__header__points-container">
            <div class="child-card__header__points child-card__header__points--day">
              <%= turbo_stream_from "child-#{child.id}-day_points" %>
              <%= render partial: "children/points", locals: { points: child.day_points, child: child, point_type: 'day' } %>
            </div>
            <div class="child-card__header__points child-card__header__points--week">
              <%= turbo_stream_from "child-#{child.id}-week_points" %>
              <%= render partial: "children/points", locals: { points: child.week_points, child: child, point_type: 'week' } %>
            </div>
            <div class="child-card__header__points child-card__header__points--month">
              <%= turbo_stream_from "child-#{child.id}-month_points" %>
              <%= render partial: "children/points", locals: { points: child.month_points, child: child, point_type: 'month' } %>
            </div>
            <div data-controller="mobile-menu" data-mobile-menu-child-id-value="<%= child.id %>"">
              <span data-action="click->mobile-menu#show"><i class="fa-solid fa-ellipsis-vertical child-card__header__menu"></i></span>
              <%= render partial: "shared/mobile-child-menu", locals: { child: child } %>
            </div>
          </div>
        </header>
        <section class="child-card__body">
          <% child.tasks.today.each do |task| %>
            <%= render 'delete', task: task %>
          <% end %>
        </section>
      </div>
    <% end %>
  </div>
</div>
