<h1>Créer ma famille</h1>
<div class="container">
  <%= form_with model: @family, class:"form" do |f| %>
    <div class="form__group">
      <%= f.label :name, "Nom de la famille", class: "form__label" %>
      <%= f.text_field :name, class: "form__input #{@family.errors[:name].any? ? "form__input--error" : ""}", placeholder: "Nom de la famille" %>
      <% if @family.errors.include?(:name) %>
        <p class="form__error"><%= @family.errors[:name].first %></p>
      <% end %>
    </div>

    <div class="form__end">
      <%= f.submit "Créer ma famille", class: "form__button" %>
    </div>
  <% end %>
</div>
