<div
id="<%= dom_id(award) %>"
class="child-card__body__award <%= award.value > points && !award.given? ? "child-card__body__award--disabled" : "" %>"
>
    <div class="child-card__body__award__title">
      <p class="child-card__body__award__title--name"><%= award.name %> (<%= award.value %> points)</p>
      <p class="child-card__body__award__title--description"><%= award.description %></p>
    </div>
      <% if award.given? %>
        <span class="child-card__badge">Bravo</span>
      <% end %>
</div>
