<div class="child-card" id="<%= dom_id(child) %>">
  <header class="child-card__header">
    <div class="child-card__header__identity">
      <div class="child-card__header__avatar">
        <%= cl_image_tag child.avatar.key, height: 50, width: 50, crop: :auto, gravity: :auto, alt: "Photo #{child.first_name}" %>
      </div>
      <h1 class="child-card__header__name"><%= child.first_name %></h1>
    </div>
    <div class="child-card__header__points-container">
      <div class="child-card__header__points child-card__header__points--day" id="child-<%= child.id %>-day_points">
        <span class="child-card__header__points-value"><%= child.day_points %></span>
      </div>
      <div class="child-card__header__points child-card__header__points--week" id="child-<%= child.id %>-week_points">
        <span class="child-card__header__points-value"><%= child.week_points %></span>
      </div>
      <div class="child-card__header__points child-card__header__points--month" id="child-<%= child.id %>-month_points">
        <span class="child-card__header__points-value"><%= child.month_points %></span>
      </div>
    </div>
  </header>
  <section class="child-card__wrapper">
    <% day_awards = child.awards.select {|award| award.periodicity == 'Quotidien'} %>
    <% partial_name = current_user.child? ? "award-card-by-child" : "award-card" %>

    <%= render partial: partial_name, locals: { awards: day_awards, periodicity: 'Quotidien', period: "day", points: child.day_points, child: child } %>
    <% week_awards = child.awards.select {|award| award.periodicity == 'Hebdomadaire'} %>
    <%= render partial: partial_name, locals: { awards: week_awards, periodicity: 'Hebdomadaire', period: "week", points: child.week_points, child: child } %>
    <% month_awards = child.awards.select {|award| award.periodicity == 'Mensuel'} %>
    <%= render partial: partial_name, locals: { awards: month_awards, periodicity: 'Mensuel', period: "month", points: child.month_points, child: child } %>
  </section>
</div>
