 <%= form_with model: @award, class: "form" do |f| %>
  <!-- Nom du privilège -->
  <div class="form__group">
    <%= f.label :name, "Nom", class: "form__label" %>
    <%= f.text_field :name, class: "form__input #{@award.errors[:name].any? ? "form__input--error" : ""}", placeholder: "Nom du privilège", required: true %>
    <% if @award.errors.include?(:name) %>
      <p class="form__error text-sm text-color-error"><%= @award.errors[:name].first %></p>
    <% end %>
  </div>
  <!-- Description -->
  <div class="form__group">
    <%= f.label :description, "Description", class: "form__label" %>
    <%= f.text_area :description, class: "form__textarea", rows: 4, placeholder: "Description du privilège" %>
  </div>
  <!-- Nombre de points -->
  <div class="form__points" data-controller="points">
    <%= f.label :value, "Nombre de points", class: "form__label" %>
    <button type="button" class="form__points-button" id="decrease-points" data-action="points#decrement">-</button>
    <%= f.number_field :value, class: "form__points-input", value: 0, step: 1, min: 0, data: { "points-target": "input" } %>
    <button type="button" class="form__points-button" id="increase-points" data-action="points#increment">+</button>
  </div>
  <!-- Périodicité -->
  <div class="form__group">
    <%= f.label :periodicity, "Périodicité", class: "form__label" %>
    <%= f.select :periodicity, [['Quotidien', 'quotidien'], ['Hebdomadaire', 'hebdomadaire'], ['Mensuel', 'mensuel']], { prompt: "Choisissez une périodicité" }, class: "form__input #{@award.errors[:periodicity].any? ? "form__input--error" : ""}" %>
    <% if @award.errors.include?(:periodicity) %>
      <p class="form__error"><%= @award.errors[:periodicity].first %></p>
    <% end %>
  </div>
  <!-- Choix de l'enfant -->
  <div class="form__radio-group">
    <% @children.each do |child| %>
      <span data-controller="child-selector">
        <%= f.radio_button :child_id, child.id, id: "child_#{child.id}", class: "form__radio-input", checked: child.id == @child.id, data: { "child-selector-target": "radio" } %>
        <%= f.label "child_#{child.id}", child.first_name, class: "form__radio-label", data: { action: "click->child-selector#select", "child-selector-target": "label" } %>
      </span>
    <% end %>
  </div>
  <!-- Bouton de soumission -->
  <div class="form__end">
    <%= f.submit "Ajouter un privilège", class: "form__button" %>
  </div>
<% end %>