<div class="container">
  <div class="headers__container">
    <h1>Famille <%= @family.name %></h1>
  </div>
  <div class="child-card__wrapper">
    <% @family.children.each do |child| %>
      <div class="child-card" data-controller="child-card">
        <header class="child-card__header" data-action="click->child-card#toggle">
          <div class="child-card__header__child">
            <div class="child-card__header__chevron">
              <i class="fa-solid fa-chevron-down child-card__header__chevron-icon"
                   data-child-card-target="chevron"
                   aria-label="Afficher/masquer les tâches"></i>
            </div>
            <div class="child-card__header__identity">
              <div class="child-card__header__avatar">
                <%= cl_image_tag child.avatar.key, height: 50, width: 50, crop: :auto, gravity: :auto, alt: "Photo #{child.first_name}" %>
              </div>
              <h1 class="child-card__header__name"><%= child.first_name %></h1>
            </div>
          </div>
          <div class="child-card__header__points-container">
            <div class="child-card__header__points-group">
              <div class="child-card__header__points child-card__header__points--day">
                <%= turbo_stream_from "child-#{child.id}-day_points" %>
                <%= render partial: "children/points", locals: { points: child.day_points, child: child, point_type: 'day' } %>
              </div>
              <div class="child-card__header__points child-card__header__points--week">
                <%= turbo_stream_from "child-#{child.id}-week_points" %>
                <%= render partial: "children/points", locals: { points: child.week_points, child: child, point_type: 'week' } %>
              </div>
              <div class="child-card__header__points child-card__header__points--month">
                <%= turbo_stream_from "child-#{child.id}-month_points" %>
                <%= render partial: "children/points", locals: { points: child.month_points, child: child, point_type: 'month' } %>
              </div>
            </div>
          </div>
          <div class="child-card__header__separator"></div>
          <div data-controller="mobile-menu" data-mobile-menu-child-id-value="<%= child.id %>" class="child-card__header__menu-container">
            <button class="child-card__header__menu-button" data-action="click->mobile-menu#show">
              <i class="fa-solid fa-bars"></i>
            </button>
            <%= render partial: "shared/mobile-child-menu", locals: { child: child } %>
          </div>
        </header>
        <section class="child-card__body" data-child-card-target="body" style="display: <%= @family.children.first == child ? "block" : "none" %>;">
          <% child.tasks.today.each do |task| %>
            <% if current_user.child? %>
              <%= turbo_stream_from "task-child-#{task.id}" %>
            <% else %>
              <%= turbo_stream_from "task-parent-#{task.id}" %>
            <% end %>
            <div data-controller="task-done"
              data-task-done-user-role-value="<%= current_user.child? ? "child" : "parent" %>"
              data-task-done-id-value="<%= task.id %>"
              data-task-done-status-value="<%= task.validated? ? "validated" : task.done? ? "done" : "normal" %>">
              <%= render partial: "tasks/task", locals: { task: task, role: current_user.child? ? "child" : "parent" } %>
            </div>
          <% end %>
        </section>
      </div>
    <% end %>
  </div>
</div>
